
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/formsValidation/userList" routerLinkActive="active">user list</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/formsValidation/addUser" routerLinkActive="active">add user</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
