<h1>Earth Countries</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/test" routerLinkActive="active">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/test/countries" routerLinkActive="active">Countries</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>